
# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#  name = "github.com/x/y"
#  version = "2.4.0"

ignored = ["github.com/stretchr/testify"]
required = ["github.com/golang/mock/gomock"]

[[constraint]]
  name = "github.com/Masterminds/sprig"
  version = "v2.15.0"

[[constraint]]
  name = "github.com/go-easygen/cli"
  version = "0.2.0"

[[constraint]]
  name = "golang.org/x/tools"
  revision = "bfb5194568d3c40db30de765edc44cae9fc94671"

[[constraint]]
  name = "github.com/golang/mock"
  version = "1.1.1"
